
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>





{% extends 'base.html' %}

{% load static %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


{% block left_sidebar %}
{% include 'components/sidebars/leftBar/sidebar.html' %}



{% endblock left_sidebar %}


{% block content %}

  
<button data-toggle="modal" data-target="#Modal_Publicar" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path  d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
      </svg>
    <span>  Publicar</span>
</button>


  
  <!-- Modal -->
  <div class="modal fade" id="Modal_Publicar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2  style="text-align: center; margin-left: 38%; font-weight: 600;" class="modal-title" id="exampleModalLabel">Crear publicación</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div style="display: flex; height: 55px;">
                <div style="width: 50px; height: 50px;"> 
                  <img style="border-radius: 50%;" src="{% static 'images/sin-foto.png' %}" alt="art">
                </div>
                <p style="margin-left: 20px; margin-top: 2.5%; font-weight: 600;">{{user.username}} {{user.lastname}}</p>
            </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-group" rows="6">
                {{form.DescripcionPublicacion}}
                {% comment %} <textarea placeholder= class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea> {% endcomment %}
              </div>
              <div class="col">
                <p style="float: left; margin-right: 5px;">Agrega a tu publicación: </p>
                <button onclick="mostrarPubliImg()"><svg style="float: left;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg></button>
                

                <button onclick="mostrarPubliVi()"><svg style="float: left; margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                </svg></button>
                                
              </div>
            <div style="border: 0px black solid; border-radius: 5px; display: flex; margin-top: 5px; height: 40px;">
                <br>
                <div id= "imagen" style="display: none; margin-left: 3.5%;">
                  <p>Agregar imagenes a tu publicación:</p>
                  <div  class="mb-2">{{form.Multimedia_Img}}</div> 
                </div>

                <div id="video" style="display: none; margin-left: 3.5%;">
                  <p >Agregar videos a tu publicación:</p>
                  <div  class="mb-2">{{form.Multimedia_Video}}</div> 
                </div>

            </div>

            {% comment %} <div class="flex justify-center items-center w-full">
              <label for="dropzone-file" class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                  <div class="flex flex-col justify-center items-center pt-5 pb-6">
                      <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Agregar fotos/videos </span> o arrastra aquí</p>
                      <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
                  </div>
                  <input id="dropzone-file" type="file" class="hidden" />
              </label>
            </div>  {% endcomment %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #0d6efd !important;">Publicar</button>
        </div>
        

        </form>
        

      </div>
    </div>
  </div>

  <!-- Fin Modal -->

  {% for post in posts %}
  <div style=" box-shadow: 0px 0px 0.5px 0.5px #d1d1d1; border: 1px solid #c2c2c2; border-radius: 5px; background-color: rgb(255, 255, 255); width: 100%; margin-top: 15px;">
    <div>
      <div style="display: flex;"> 
        <a  href="{% url 'users:perfil' post.Autor.username %}">
        <img style="border-radius: 50%; width: 50px; height: 50px; margin-left: 5px; margin-top: 5px;" src="{% static 'images/sin-foto.png' %}" alt="art">
        <div>
          <p style="height: 25px; margin-left: 5px; margin-top: 3px;">{{post.Autor.username}}</p>
        </a>
          <p style="height: 25px; margin-top: 0%; margin-left: 5px; margin-top: 3px;">{{post.FechaPublicacion}}</p>
        </div>
      
      </div>

      <h2 style="margin-left: 5px;">{{post.DescripcionPublicacion}}</h2>
      <div class="py-2">
          <h1>hola mundog</h1>
          <div  data-interval="false" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for img in post.Multimedia_Img.all %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">                
                <img class="d-block w-100" src="{{img.imagen.url}}" alt="">
              </div>  
              {% endfor %}
              
              {% for video in post.Multimedia_Video.all %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">                
                <video class="embed-responsive embed-responsive-16by9" controls="controls" >
                  <source src="{{video.video.url}}" type="video/mp4" />
                </video>                  
              </div>  
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>   
          </div>




      </div>
    </div>

  </div>

  {% endfor %}

    <div>
      <hr>
      <p style="text-align: center;"> No hay mas publicaciones, sigue subiendo contenido! </p>
    </div>
  
{% endblock content %}


{% block right_sidebar %}
{% endblock right_sidebar %}



{% block footer %}
{% endblock footer %}


{% block javascript %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  function mostrarPubliImg(){
    document.getElementById('imagen').style.display ="block";
    document.getElementById('video').style.display ="none";

  }

  function mostrarPubliVi(){
    document.getElementById('video').style.display ="block";
    document.getElementById('imagen').style.display ="none";

  }
</script>

{% endblock javascript %}
