{%extends "base.html"%}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}

{% block title %}{{user.username}}{% endblock %}
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


{% block left_sidebar %}
{% include 'components/sidebars/leftBar/sidebar.html' %}



{% endblock left_sidebar %}

{% block content %}

{% for perfil in perfiles %}
   
      <div style="display: flex;"> 
         <a href="{% url 'users:perfil' perfil.usuario.username %}"> Ir al perfil de: {{perfil.usuario.username}}<br>
         
         <img style="border-radius: 50%; width: 50px; height: 50px;" src="{% static 'images/sin-foto.png' %}" alt="art">
         <div>
           {% comment %} <p style="height: 25px;">{{perfil.fotoPerfil}}</p> {% endcomment %}
         </a>
         </div>
       
       </div>
{% empty %}
   No se encontraron usuarios
{% endfor %}


{% endblock content %}


{% block right_sidebar %}
{% endblock right_sidebar %}



{% block footer %}
{% endblock footer %}