<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>





{% extends 'base.html' %}

{% load static %}

{% block navbar %}

<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<nav
    class="bg-white dark:bg-dark-second h-max md:h-14 w-full shadow flex flex-col md:flex-row items-center justify-center md:justify-between fixed top-0 z-50 border-b dark:border-dark-third">

    <!-- LEFT NAV -->
    <div class="flex items-center justify-between w-full md:w-max px-4 py-2">
        <a href="/home" class="mr-2 hidden md:inline-block">
            <img src="{% static 'images/logoC.png' %}" alt="ConectArte logo" class="w-24 sm:w-20 lg:w-10 h-auto">
        </a>
        <a href="#" class="inline-block md:hidden">
            <img src="{% static 'images/logoC.png' %}" alt="" class="w-10 h-10">
        </a>
        <div class="flex items-center justify-between space-x-1">
            <a href="#"
                class="inline-flex md:hidden items-center justify-center p-1 rounded-full hover:bg-gray-200 dark:hover:bg-dark-third mx-1"></a>
            <form method="GET" action="{% url 'search:searchProfile' %}">
                <div
                    class=" mt-4 relative bg-gray-100 dark:bg-dark-third px-2 py-2 w-10 h-10 sm:w-11 sm:h-11 lg:h-10 lg:w-10 xl:w-max xl:pl-3 xl:pr-8 rounded-full flex items-center justify-center cursor-pointer">
                    <button type="submit" class='bx bx-search-alt-2 text-xl xl:mr-2 dark:text-dark-txt'></button>
                    <input name="query" value="{{request.GET.query}}" type="text" placeholder="Buscar Usuarios"
                        class="outline-none border-none bg-transparent hidden xl:inline-block">
                </div>
            </form>
            <div class="text-xl grid place-items-center md:hidden bg-gray-200 dark:bg-dark-third rounded-full w-10 h-10 cursor-pointer hover:bg-gray-300 dark:text-dark-txt"
                id="dark-mode-toggle-mb">
                <i class='bx bxs-bell'></i>
            </div>
        </div>
    </div>
    <!-- END LEFT NAV -->

    <!-- MAIN NAV -->
    <ul x-data="{ open: false }" class="flex w-full lg:w-max items-center justify-center">
        <li class="w-1/5 md:w-max text-center">
            <a href="/home" 
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block rounded text-gray-600 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt relative">
                <iconify-icon icon="emojione:house"></iconify-icon>
                <h1 style=" font-size: 10px;">Inicio</h1>
            </a>
        </li>

        <li class="w-1/5 md:w-max text-center">
            <a href="/vacantes"
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block text-blue-500 border-b-4 border-blue-500">
                <iconify-icon icon="emojione:performing-arts"></iconify-icon>
                <h1 style=" font-size: 10px;">Vacantes</h1>
            </a>
        </li>

        <li class="w-1/5 md:w-max text-center">
            <a href="{% url 'users:portfolio' user.username %}"
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block rounded text-gray-600 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt relative">
                <iconify-icon icon="emojione-v1:briefcase"></iconify-icon>
                <h1 style=" font-size: 10px;">Portafolio</h1>
            </a>
        </li>

        <li class="w-1/5 md:w-max text-center">
            <a href="{% url 'users:followers' %}"
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block rounded text-gray-600 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt relative">
                <iconify-icon icon="fluent-emoji-flat:artist-light"></iconify-icon>
                <h1 style=" font-size: 10px;">Mi red</h1>
            </a>
        </li>







        



        <!--LEFT Mobile Sidebar-->
        <div @keydown.window.escape="open = false" x-show="open" aria-labelledby="slide-over-title" x-ref="dialog"
            aria-modal="true" class="fixed z-10 inset-0 overflow-auto xl:hidden ">
            <div class="absolute inset-0 overflow-hidden">

                <div x-description="Background overlay, show/hide based on slide-over state." class="absolute inset-0"
                    @click="open = false" aria-hidden="true"></div>

                <div class="fixed inset-y-0 right-0 pl-10 max-w-full flex ">

                    <div x-show="open" @click.away="open = false" class="w-screen max-w-md"
                        x-description="Slide-over panel, show/hide based on slide-over state.">
                        <div
                            class="h-full flex flex-col py-6 bg-white dark:bg-dark-second shadow-xl overflow-y-scroll scrollbar-hide">
                            <div class="px-4 sm:px-6">
                                <div class="flex items-start justify-between">
                                    <h2 class="text-lg font-medium dark:text-gray-500 text-gray-900"
                                        id="slide-over-title">
                                        Menu
                                    </h2>
                                    <div class="ml-3 h-7 flex items-center">
                                        <button
                                            class="bg-white dark:bg-dark-third rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                            @click="open = false">
                                            <span class="sr-only">Close panel</span>
                                            <svg class="h-6 w-6" x-description="Heroicon name: outline/x"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-6 relative flex-1 px-4 sm:px-6">
                                <!-- Replace with your content -->

                                <!--Menu Items-->
                                {% include 'components/sidebars/leftBar/items.html' %}


                                {% include 'components/footer.html' %}

                                <!-- /End replace -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </ul>
    <!-- END MAIN NAV -->

    <!-- RIGHT NAV -->
    <ul class="hidden md:flex mx-4 items-center justify-center">

        <li class="h-full xl:flex">
        </li>
        <li>
            <div
                class="text-xl hidden xl:grid place-items-center bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative">
                <i class='bx bx-plus'></i>
            </div>
        </li>
        <li>
            {% comment %} <div
                class="text-xl hidden xl:grid place-items-center bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative">
                <i class='bx bxl-messenger'></i>
            </div> {% endcomment %}
        </li>
        <li>
            <div
                class="text-xl grid place-items-center bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative">
                <i class='bx bx-message-dots'></i>
                <span
                    class="text-xs absolute top-0 right-0 bg-red-500 text-white font-semibold rounded-full px-1 text-center"></span>
            </div>
        </li>
        <li>
            {% comment %} <div
                class="text-xl grid place-items-center bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative"
                id="dark-mode-toggle">
                <i class='bx bxs-moon'></i>
            </div> {% endcomment %}
        </li>

        <li>
            <div x-data="{open:false}">
                <div @click="open=true"
                    class="text-xl grid place-items-center dark:bg-dark-second bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative">
                    <i class='bx bxs-bell'></i>
                    <span
                        class="text-xs absolute top-0 right-0 bg-red-500 text-white font-semibold rounded-full px-1 text-center"></span>
                </div>
                <div x-show="open" @click.away="open=false"
                    class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg dark:bg-dark-second bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                        <a href="#" class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-0">Ajustes de cuenta</a>
                        <a href="#" class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-1">Soporte</a>
                        <a href="#" class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-2">Licencia</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}"
                            class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-2">Cerrar Sesion</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </li>
    </ul>
    <!-- END RIGHT NAV -->


</nav>
{% endblock navbar %}


{% block left_sidebar %}
{% include 'components/sidebars/leftBar/sidebar.html' %}




{% endblock left_sidebar %}


{% block content %}


<button data-toggle="modal" data-target="#Modal_Publicar"
  class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
  </svg>
  <span> Publicar vacante</span>
</button>

<!-- Modal -->
<div class="modal fade" id="Modal_Publicar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 style="text-align: center; margin-left: 38%; font-weight: 600;" class="modal-title" id="exampleModalLabel">
          Crear publicación</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div style="display: flex; height: 100px;">
          <div style="width: 100px; height: 100px;">
            <img style="border-radius: 50%;" src="{% static 'images/sin-foto.png' %}" alt="art">
          </div>
          <p style="margin-left: 20px; margin-top: 2.5%; font-weight: 600;">{{user.username}} {{user.lastname}}</p>
        </div>

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group" rows="1">
            Titulo de la vacante
            {{form.TituloVacante}}
          </div>
          <div class="form-group" rows="6">
            Elige una categoria para la vacante
            {{form.CategoriaVacante}}
            {% comment %} <textarea placeholder="Elige categoria..." class="form-control"
              id="exampleFormControlTextarea1" rows="6"></textarea> {% endcomment %}
          </div>
          <div class="form-group" rows="6">
            ¿De qué trata el trabajo
            {{form.DescripcionVacante}}
          </div>
          <div class="form-group" rows="6">
            Remuneración
            {{form.Pago}}
          </div>

      </div>
      <div class="modal-footer">
        
        <button type="submit" style="background-color: blue;" class="btn btn-primary btn-lg btn-block">Publicar</button>
      </div>


      </form>

      
    </div>
  </div>
</div>

<!-- Fin Modal -->

{% for vacante in vacantes %}


<div  style=" background-color: rgb(246, 240, 240); margin-top: 40px; border-top: 1px #3b82f6 solid; border-left: 1px #3b82f6 solid; border-right: 1px #3b82f6 solid;" class="container">
  <div style="margin-top: 3%;" class="row">
    <div style="  margin: 0 auto;" class="col-2">
      <img style="border-radius: 50%; width: 70px; height: 70px; margin-left: 0px; margin-top: 10px; margin-left: 7px;"
        src="{% static 'images/sin-foto.png' %}" alt="art">
    </div>
    <div style="width: 80%;" class="col-10">
      {{vacante.TituloVacante}}
      <div>
        <p style="height: 25px; margin-top: 0%; "> Contratador: {{vacante.AutorVacante.username}}</p>
      </div>
      <div style="display: flex;">
        <p style="height: 25px; margin-top: 0%;">Pago ofrecido: ${{vacante.Pago}}</p>
        <p style="height: 25px; margin-left: 17%;">
          <svg style="color: #3b82f6;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
          </svg>          
          Bogotá
        </p>
        <p style="height: 25px; margin-left: 17%;">
          <svg style="color: #3b82f6;;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>          
          {{vacante.FechaPublicacionVacante}}
        </p>
      </div>
    </div>
    <div class="popup-info2">
      <h1>{{vacante.TituloVacante}}</h1>
      <p>{{vacante.CategoriaVacante}}</p>
      <p>{{vacante.DescripcionVacante}}</p>
      <p>{{vacante.Pago}}</p>
      <p>{{vacante.AutorVacante.username}}</p>
      <p>{{vacante.FechaPublicacionVacante}}</p>
    </div>

    <div style="margin-left: 80%; margin-top: 15px;">
      <button data-toggle="modal" data-target=".bd-example-modal-lg" type="button" style="margin-top: 20px; margin-right: 10px;" class="btn btn-outline-info btn-block">Ver oferta</button>
    </div>
    <!-- modal VACANTES -->
<div  class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div style="height: 500px;" class="modal-content">

      <div class="modal-header">
        <h1 style="text-align: center; margin-left: 38%; font-weight: 600;" class="modal-title" id="exampleModalLabel">
         {{vacante.TituloVacante}}Jp</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div style="  margin: 0 auto;" class="col-2">
              <img style="border-radius: 50%; width: 100px; height: 100px; margin-left: 0px; margin-top: 10px; margin-left: 7px;"
                src="{% static 'images/sin-foto.png' %}" alt="art">
              {% comment %} <p style="margin-top: 60px;">{{perfil.fotoPerfil}}</p> {% endcomment %}
            </div>
            <div style="width: 80%;" class="col-10">
              <div>
                <p style="height: 25px; margin-top: 0%; "> Responsable: {{vacante.AutorVacante.username}}</p>
              </div>
              <div style="display: flex;">
                <p style="height: 25px; margin-top: 0%;">Pago ofrecido: ${{vacante.Pago}}</p>
              </div>
            </div>
            <div class="col-6">
              <p style="height: 25px; margin-left: 17%;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                </svg>          
                Bogotá
              </p>
            </div>
            <div class="col-6">
              <p style="height: 25px; margin-left: 17%;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>           
                Publicado {{vacante.FechaPublicacionVacante}}
              </p> 
            </div>
            <div style="margin-top: 50px;" class="col-12">
              <p style="height: 25px; width: 100%; ">
                {{vacante.DescripcionVacante}}
              </p> 
            </div> 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" style="background-color: blue;" class="btn btn-primary btn-lg btn-block">Contactarme</button>
      </div>
      ...
    </div>
  </div>
</div>
<!-- modal vacantes --> 
  </div>
</div>

{% comment %} <script type="text/javascript">
  const popupinfo = document.querySelector(".popup-info2")
  console.log(popupinfo[1]);
  popupbtns.forEach(btn => btn.addEventListener('click', () => {
    const popupinfo = btn.parentNode.childNodes[11];
        popupContent.querySelector(".popup-TituloVacante").src = popupinfo.children[0].textContent //project image
        popup.querySelector(".popup-CategoriaVacante").textContent = popupinfo.children[1].textContent; // project title
        popupContent.querySelector(".popup-DescripcionVacante").textContent  =  popupinfo.children[2].textContent; // project description
        popupContent.querySelector(".popup-Pago").textContent =  popupinfo.children[3].textContent; //project link text
        popupContent.querySelector(".popup-Autor").href = popupinfo.children[4].textContent;
        popupContent.querySelector(".popup-Fecha").href = popupinfo.children[5].textContent;
        
        wrapper.style.display = "block";
        popup.style.display = "block";
    }));
</script> {% endcomment %}

{% endfor %}

<div>
  <hr>
  <p style="text-align: center;"> No hay mas ofertas por el momento</p>
</div>



{% endblock content %}


{% block right_sidebar %}

<div id="Category_search">

    

  <form>
    
    <label>Buscar por tipo de vacante:</label> 
    <div class="form-group">
      <div class="form-check"><input class="form-check-input" type="checkbox" id="cantante_cb" name = "cantante_cb">Musicos  <br></div>
      <div class="form-check"><input class="form-check-input" type="checkbox" id="musico_cb" name = "musico_cb">  Fotografo</div>
      <div class="form-check"><input class="form-check-input" type="checkbox" id="animador_cb" name = "animador_cb"> Escritores <br></div>
      <div class="form-check"><input class="form-check-input" type="checkbox" id="pintor_cb" name = "pintor_cb"> Pintor <br></div>
      <div class="form-check"><input class="form-check-input" type="checkbox" id="artesano_cb" name = "artesano_cb"> Artesano <br></div>
      <div class="form-check"><input class="form-check-input" type="checkbox" id="artesano_cb" name = "artesano_cb"> Animadores <br></div>
      <div class="form-check"><input class="form-check-input" type="checkbox" id="artesano_cb" name = "artesano_cb"> Cantantes <br></div>
    </div>

  
    <label>Buscar por remuneración:</label> 

  
    <div class="form-group">
      <input type="number" min=0 name = "filtro_maximo" placeholder = "Máximo" class = "filtro_n2"> 
      <br>
      <br>
      <input type="number" min=0 name = "filtro_minimo" placeholder = "Mínimo" class = "filtro_n2">
    </div>

    <form action="form-group">
      <button type="submit" class="btn btn-primary" style="text-align:center; background-color: blue; margin-left:30px;">Buscar</button>
    </form>
    
  </form>



</div>


{% endblock right_sidebar %}



{% block footer %}
{% endblock footer %}


{% block javascript %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock javascript %}