
{% load static %}
<ul class="p-4">
    <li>
        {% comment %} {% url 'users:profile user.username'%} {% endcomment %}
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
            {% comment %} <img src="{{user.Perfil.FotoPerfil.url}}" alt="Profile picture" class="w-10 h-10 rounded-full"> {% endcomment %}
            <i class='bx bxs-user'></i>
            <span class="font-semibold">{{user.username}}</span>
        </a>
    </li>
    <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
            {% comment %} <img src="./images/page.png" alt="Profile picture" class="w-10 h-10 rounded-full"> {% endcomment %}
            <span class="font-semibold">Seguidos</span>
        </a>
    </li>
    <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
            <i class='bx bx-user' ></i>
            <span class="font-semibold">Amigos</span>
        </a>
    </li>
    <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
            <i class='bx bx-group' ></i>
            <span class="font-semibold">Groups</span>
        </a>
    </li>
    <li class="border-b border-gray-200 dark:border-dark-third mt-6"></li>
</ul>