{% load static %}
<footer class="footer">
    <div class="copy">&copy; 2022 Ghost-Coders</div>
    <div class="bottom-links">
      <div class="links">
        <span>Mas información</span>
        <a href="#">Inicio</a>
        <a href="#">Sobre nosotros</a>
        <a href="#">Contacto</a>
      </div>
      
    </div>
  </footer>
  <div class="mt-auto p-6 text-sm text-gray-500 dark:text-dark-txt">
    <a href="#">Mas informacion</a>
    <span>.</span>
    <a href="#">Inicio</a>
    <span>.</span>
    <a href="#">Sobre nosotros</a>
    <span>.</span>
    <a href="#">Contacto</a>
    <span>.</span>
    <a href="#">Social Links</a>
    <span>.</span>
    <a href="#">More</a>
    <span>.</span>
    <span>ConectArte © 2022</span>
    <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

</div>
