{% extends 'base.html' %}

{% load static %}

{% load tailwind_filters %}

{% block title %}{{user.username}} Edit Profile{% endblock title %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block left_sidebar %}
{% comment %} {% include 'components/sidebars/left/users/sidebar.html' %} {% endcomment %}
{% endblock left_sidebar %}

{% block content %}
<form class="form-horizontal dark:text-dark-txt" method="POST"  enctype="multipart/form-data">
{% csrf_token %}
  <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="mt-4">
          <label for="first_name" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
            Nombre: 
          </label>
          {{form.first_name}}
        </div>

        <div class="mt-4">
          <label for="last_name" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
            Apellido:
          </label>
          {{form.last_name}}
        </div>

        <div class="mt-4">
          <label for="descripcion" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
            Descripcion:    
        </label>
          {{form.Descripcion}}
        </div>

        <div class="mt-4">
          <label for="intereses" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
           Intereses:    
        </label>
          {{form.Intereses}}
        </div>

        <div class="mt-4">
          <label for="experiencia" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
           Experiencia:    
        </label>
          {{form.Experiencia}}
        </div>
        {% comment %} <label for="city" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
        Ubicacion
        </label>
        {{form.location}} {% endcomment %}

        {% comment %} <label for="birthday" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
        Cumpleaños: yyyy-mm-dd
        </label>
        {{form.birthday}} {% endcomment %}
        <div class="mt-4">
          <label for="url" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
            Pagina web:
            </label>
            {{form.url}}
        </div>
       
        <div class="mt-4">
          <label for="NumeroTelefono" class="block text-sm font-medium dark:text-dark-txt text-gray-700">
            Numero de telefono:
            </label>
            {{form.NumeroTelefono}}
        </div>

         <div class="control-group">
            <div class="controls">
            <a href="{% url 'users:perfil' username=user.username %}" class="mt-4 inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded dark:text-dark-txt text-indigo-700 dark:bg-dark-second bg-indigo-100 dark:hover:bg-dark-third hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-indigo-500">
            volver al perfil </a>
            <button type="submit" class="mt-4 inline-flex float-right items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded dark:text-dark-txt text-indigo-700 dark:bg-dark-third bg-indigo-100 dark:hover:bg-dark-third hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-indigo-500">
            Editar
            </button>
            </div>
        </div>

  </div>
</form>
{% endblock content %}