{% extends 'base3.html' %}
{% load static %}

{% block navbar %}

{% endblock navbar %}



{% block content %}


<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<nav
    class="bg-white dark:bg-dark-second h-max md:h-14 w-full shadow flex flex-col md:flex-row items-center justify-center md:justify-between fixed top-0 z-50 border-b dark:border-dark-third">

    <!-- LEFT NAV -->
    <div class="flex items-center justify-between w-full md:w-max px-4 py-2">
        <a href="/home" class="mr-2 hidden md:inline-block">
            <img src="{% static 'images/logoC.png' %}" alt="ConectArte logo" class="w-24 sm:w-20 lg:w-10 h-auto">
        </a>
        <a href="#" class="inline-block md:hidden">
            <img src="{% static 'images/logoC.png' %}" alt="" class="w-10 h-10">
        </a>
        <div class="flex items-center justify-between space-x-1">
            <a href="#"
                class="inline-flex md:hidden items-center justify-center p-1 rounded-full hover:bg-gray-200 dark:hover:bg-dark-third mx-1"></a>
            <form method="GET" action="{% url 'search:searchProfile' %}">
                <div
                    class=" mt-4 relative bg-gray-100 dark:bg-dark-third px-2 py-2 w-10 h-10 sm:w-11 sm:h-11 lg:h-10 lg:w-10 xl:w-max xl:pl-3 xl:pr-8 rounded-full flex items-center justify-center cursor-pointer">
                    <button type="submit" class='bx bx-search-alt-2 text-xl xl:mr-2 dark:text-dark-txt'></button>
                    <input name="query" value="{{request.GET.query}}" type="text" placeholder="Buscar Usuarios"
                        class="outline-none border-none bg-transparent hidden xl:inline-block">
                </div>
            </form>
            <div class="text-xl grid place-items-center md:hidden bg-gray-200 dark:bg-dark-third rounded-full w-10 h-10 cursor-pointer hover:bg-gray-300 dark:text-dark-txt"
                id="dark-mode-toggle-mb">
                <i class='bx bxs-bell'></i>
            </div>
        </div>
    </div>
    <!-- END LEFT NAV -->

    <!-- MAIN NAV -->

    
    <ul   class="flex w-full lg:w-max items-center justify-center">
        <li  class="w-1/5 md:w-max text-center">
            <a href="/home"
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block rounded text-gray-600 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt relative"
                >
                <iconify-icon style="margin-top: 30px" icon="emojione:house"></iconify-icon>
                <h1 style=" font-size: 10px;" >Inicio</h1>
               
           
            </a>
        </li>

        <li class="w-1/5 md:w-max text-center">
            <a href="/vacantes"
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block rounded text-gray-600 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt relative">
                <iconify-icon style="margin-top: 25px;" icon="emojione:performing-arts"></iconify-icon>
                <h1 style=" font-size: 10px;">Vacantes</h1>
            </a>
        </li>

        <li class="w-1/5 md:w-max text-center">
            <a href="{% url 'users:portfolio' user.username %}"
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block text-blue-500">
                <iconify-icon style="margin-top: 25px;" icon="emojione-v1:briefcase"></iconify-icon>
                <h1 style=" font-size: 10px;">Portafolio</h1>
                <div style="border-bottom: #3c84f4 solid 4px;">

                </div>
            </a>
        </li>

        <li class="w-1/5 md:w-max text-center">
            <a href="{% url 'users:followers' %}"
                class="w-full text-3xl py-2 px-3 xl:px-12 cursor-pointer text-center inline-block rounded text-gray-600 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt relative">
                <iconify-icon style="margin-top: 25px;" icon="fluent-emoji-flat:artist-light"></iconify-icon>
                <h1 style=" font-size: 10px;">Mi red</h1>
            </a>
        </li>







        
        


        <!--LEFT Mobile Sidebar-->
        <div @keydown.window.escape="open = false" x-show="open" aria-labelledby="slide-over-title" x-ref="dialog"
            aria-modal="true" class="fixed z-10 inset-0 overflow-auto xl:hidden ">
            <div class="absolute inset-0 overflow-hidden">

                <div x-description="Background overlay, show/hide based on slide-over state." class="absolute inset-0"
                    @click="open = false" aria-hidden="true"></div>

                <div class="fixed inset-y-0 right-0 pl-10 max-w-full flex ">

                    <div x-show="open" @click.away="open = false" class="w-screen max-w-md"
                        x-description="Slide-over panel, show/hide based on slide-over state.">
                        <div
                            class="h-full flex flex-col py-6 bg-white dark:bg-dark-second shadow-xl overflow-y-scroll scrollbar-hide">
                            <div class="px-4 sm:px-6">
                                <div class="flex items-start justify-between">
                                    <h2 class="text-lg font-medium dark:text-gray-500 text-gray-900"
                                        id="slide-over-title">
                                        Menu
                                    </h2>
                                    <div class="ml-3 h-7 flex items-center">
                                        <button
                                            class="bg-white dark:bg-dark-third rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                            @click="open = false">
                                            <span class="sr-only">Close panel</span>
                                            <svg class="h-6 w-6" x-description="Heroicon name: outline/x"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-6 relative flex-1 px-4 sm:px-6">
                                <!-- Replace with your content -->

                                <!--Menu Items-->
                                {% include 'components/sidebars/leftBar/items.html' %}


                                {% include 'components/footer.html' %}

                                <!-- /End replace -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </ul>
    <!-- END MAIN NAV -->

    <!-- RIGHT NAV -->
    <ul class="hidden md:flex mx-4 items-center justify-center">

        <li class="h-full xl:flex">
        </li>
        <li style="margin-top: 16px">
          <div
                class="text-xl hidden xl:grid place-items-center bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative">
                <i class='bx bx-plus'></i>
            </div>
        </li>
        
        <li style="margin-top: 16px">
          <div
                class="text-xl grid place-items-center bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative">
                <i class='bx bx-message-dots'></i>
                <span
                    class="text-xs absolute top-0 right-0 bg-red-500 text-white font-semibold rounded-full px-1 text-center"></span>
            </div>
        </li>
        <li style="margin-top: 16px">
            {% comment %} <div
                class="text-xl grid place-items-center bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative"
                id="dark-mode-toggle">
                <i class='bx bxs-moon'></i>
            </div> {% endcomment %}
        </li>

        <li style="margin-top: 16px">
          <div x-data="{open:false}">
                <div @click="open=true"
                    class="text-xl grid place-items-center dark:bg-dark-second bg-gray-200 dark:bg-dark-third dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative">
                    <i class='bx bxs-bell'></i>
                    <span
                        class="text-xs absolute top-0 right-0 bg-red-500 text-white font-semibold rounded-full px-1 text-center"></span>
                </div>
                <div x-show="open" @click.away="open=false"
                    class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg dark:bg-dark-second bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                        <a href="#" class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-0">Ajustes de cuenta</a>
                        <a href="#" class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-1">Soporte</a>
                        <a href="#" class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-2">Licencia</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}"
                            class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem"
                            tabindex="-1" id="menu-item-2">Cerrar Sesion</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </li>
    </ul>
    <!-- END RIGHT NAV -->


</nav>


<style>
  p {
    line-height: 1.8;
  }

  a {
    text-decoration: none;
    transition: all 0.3s ease;
  }

  a:hover {
    color: #009999;
  }

  .container-fluid {
    max-width: 1770px;
  }

  .tm-container-small {
    max-width: 1050px;
  }

  .btn {
    border-radius: 0;
  }

  .btn-primary {
    background-color: #009999;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #086969;
  }

  .btn-primary.disabled,
  .btn-primary:disabled {
    background-color: #009999;
    pointer-events: all;
    cursor: not-allowed;
  }

  .form-control {
    padding: 10px 20px;
    width: 100%;
    height: auto;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .tm-btn-big {
    padding: 12px 90px 14px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-brand {
    color: #3399CC;
    font-size: 1.6rem;
  }

  .navbar-brand i {
    font-size: 2rem;
  }

  .tm-hero {
    min-height: 200px;
    background: transparent;
  }

  .tm-mt-60 {
    margin-top: 60px;
  }

  .tm-mb-50 {
    margin-bottom: 50px;
  }

  .tm-mb-74 {
    margin-bottom: 74px;
  }

  .tm-mb-90 {
    margin-bottom: 90px;
  }

  .tm-text-primary {
    color: #009999;
  }

  .tm-text-secondary {
    color: #CC6699;
  }

  a.tm-text-primary:hover {
    color: #666666;
  }

  .tm-bg-gray {
    background-color: #EEEEEE;
  }

  .tm-input-paging {
    width: 40px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    text-align: center;
  }

  .nav-item {
    margin-right: 30px;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    color: #666666;
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
  }

  .nav-link-1.active,
  .nav-link-1:hover {
    border-color: #33CCFF;
  }

  .nav-link-2.active,
  .nav-link-2:hover {
    border-color: #FF6666;
  }

  .nav-link-3.active,
  .nav-link-3:hover {
    border-color: #33CC66;
  }

  .nav-link-4.active,
  .nav-link-4:hover {
    border-color: #CC66CC;
  }

  .tm-search-input {
    width: 360px;
    border-radius: 0;
    padding: 12px 15px;
    color: #009999;
    border: none;
  }

  .tm-search-input:focus {
    border-color: #009999;
    box-shadow: 0 0 0 0.25rem rgb(0 153 153 / 0.25);
  }

  .tm-search-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #009999;
    opacity: 1;
    /* Firefox */
  }

  .tm-search-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #009999;
  }

  .tm-search-btn {
    color: white;
    background-color: #009999;
    border: none;
    width: 100px;
    height: 50px;
    margin-left: -1px;
  }

  p,
  .tm-text-gray {
    color: #999;
  }

  .tm-text-gray-light {
    color: #CCC;
  }

  .tm-text-gray-dark {
    color: #666;
  }

  .tm-video-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }

  .tm-video-item img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
  }

  .tm-video-item figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .tm-video-item figcaption::before,
  .tm-video-item figcaption::after {
    pointer-events: none;
  }

  .tm-video-item figcaption,
  .tm-video-item figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tm-video-item figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  .tm-video-item h2 {
    word-spacing: -0.15em;
    font-weight: 300;
  }

  .tm-video-item h2,
  .tm-video-item p {
    margin: 0;
  }

  .tm-video-item p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }

  .tm-gallery div.d-block {
    animation: show .5s ease;
  }

  @keyframes show {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .tm-paging-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.1rem;
    color: #999;
    background-color: #EEEEEE;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .tm-paging-link:hover,
  .tm-paging-link.active {
    background-color: #009999;
    color: #fff;
  }

  /*---------------*/
  /***** Ming *****/
  /*---------------*/

  figure.effect-ming {
    background: #030c17;
  }

  figure.effect-ming img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  figure.effect-ming figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
  }

  figure.effect-ming h2 {
    font-size: 1.3em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  figure.effect-ming:hover figcaption::before,
  figure.effect-ming:hover h2 {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  figure.effect-ming:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
  }

  figure.effect-ming:hover img {
    opacity: 0.4;
  }

  .tm-footer-links li {
    list-style: none;
    margin-bottom: 5px;
  }

  .tm-footer-links li a {
    color: #999999;
  }

  .tm-footer-links li a:hover {
    color: #009999;
  }

  .tm-social-links li {
    list-style: none;
    margin-right: 15px;
  }

  .tm-social-links li:last-child {
    margin-right: 0;
  }

  .tm-social-links li a {
    color: #999999;
    width: 44px;
    height: 44px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }

  .tm-social-links li a:hover {
    color: #fff;
    background-color: #009999;
  }

  .tm-footer {
    font-size: 0.95rem;
  }

  .tm-footer-title {
    font-size: 1.4rem;
  }

  /* Videos */
  #tm-video-container {
    max-height: 400px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    position: relative;
  }

  #tm-video {
    display: block;
    width: 100%;
    height: auto;
  }

  #tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: #e1e1e1;
  }

  .tm-video-details {
    height: 100%;
    padding: 40px;
  }

  /* About */
  .tm-row-1640 {
    max-width: 1640px;
  }

  .tm-about-2-col {
    max-width: 716px;
  }

  .tm-about-3-col {
    max-width: 540px;
  }

  .tm-about-2-col,
  .tm-about-3-col {
    margin-bottom: 50px;
  }

  .tm-about-icon-container {
    width: 150px;
    height: 150px;
    border: 1px solid #009999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tm-about-img-text {
    max-width: 940px;
  }

  /* Contact */
  select.form-control {
    border-radius: 0;
  }

  select.form-control option {
    height: 30px;
  }

  select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-image: url(../img/select-arrow.png);
    padding: 14px 20px;
    padding-right: 20px;
    color: #666;
  }

  .mapouter {
    position: relative;
    height: 480px;
    width: 100%;
    max-width: 480px;
  }

  .gmap-canvas {
    overflow: hidden;
    background: none !important;
    height: 480px;
    width: 100%;
  }

  .tm-contact-form {
    max-width: 420px;
  }

  .tm-address-col {
    max-width: 520px;
  }

  .tm-contacts {
    padding-left: 0;
  }

  .tm-contacts li {
    list-style: none;
    margin-bottom: 20px;
  }

  .tm-contacts li a i {
    width: 30px;
  }

  .tm-social {
    display: flex;
  }

  .tm-social li {
    list-style: none;
    margin-bottom: 20px;
    margin-right: 15px;
  }

  .tm-social li a i {
    width: 40px;
    height: 40px;
    color: #666666;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .tm-social li a:hover i {
    color: #fff;
    background-color: #009999;
  }

  .form-control,
  input:-internal-autofill-selected,
  select:not([multiple]) {
    color: #009999 !important;
  }

  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #009999;
    opacity: 1;
    /* Firefox */
  }

  @media (max-width: 991px) {
    .navbar-collapse {
      position: fixed;
      top: 50px;
      right: 0px;
      background: white;
      width: 150px;
      padding: 15px;
    }

    .tm-container-content {
      max-width: 870px;
    }

    .tm-contact-form,
    .tm-address-col,
    .mapouter {
      max-width: 100%;
    }

    .tm-people-row {
      max-width: 900px;
    }
  }

  @media (max-width: 767px) {
    .tm-paging-col {
      flex-direction: column;
    }

    .tm-paging {
      flex-wrap: wrap;
    }

    .tm-about-img-text {
      max-width: 640px;
    }

    .tm-about-2-col,
    .tm-about-3-col {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 575px) {
    .tm-container-content {
      max-width: 420px;
    }

    .tm-search-form {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      justify-content: center;
    }

    .tm-search-input {
      width: 100%;
      max-width: 360px;
    }

    .tm-people-row {
      max-width: 420px;
    }
  }

  @media (max-width: 400px) {
    .tm-btn-big {
      padding: 12px 50px 14px;
    }
  }

  @media (max-width: 334px) {
    .tm-social-links {
      flex-wrap: wrap;
      justify-content: start !important;
    }

    .tm-social-links li {
      margin-right: 3px;
    }
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


<div style="box-shadow: 0px 0px 0.5px 0.5px  #d1d1d1; border: 1px solid #e0dfdc;"
  class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div>

    <!--
      INFORMACIÓN PERSONAL
    -->
    <div class="container-fluid tm-container-content tm-mt-60">
      <div style="margin: 2%;">
        <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Información</h1>
          <h1 class="position-absolute text-uppercase tm-text-primary">Información personal</h1>
        </div>


        <!-- Header End -->


        <!-- About Start -->
        <div class="container-fluid py-5" id="about">
          <div class="container">

            <div class="row align-items-center">
              <div class="col-lg-5 pb-4 pb-lg-0">

                {% for img in perfil.fotoPerfil.all %}
                <img class="img-fluid rounded w-100"   src="{{img.imagen.url}}" alt="">
                {% endfor %}
              </div>
              <div class="col-lg-7">
                <h3 style="font-size: 200%;">{{perfil.usuario.username}}</h3>
                <p style="font-style: italic;">"{{perfil.Descripcion}}"</p>
                <div class="row mb-3">
                  <div class="col-sm-6 py-2">
                    <h6>Nombres: <span class="text-secondary">{{perfil.usuario.first_name}} </span></h6>
                  </div>
                  <div class="col-sm-6 py-2">
                    <h6>Apellidos: <span class="text-secondary">{{perfil.usuario.last_name}}</span></h6>
                  </div>
                  <div class="col-sm-6 py-2">
                    <h6>Ubicación: <span class="text-secondary">Bogotá</span></h6>
                  </div>
                  <div class="col-sm-6 py-2">
                    <h6>Telefono: <span class="text-secondary">{{perfil.NumeroTelefono}}</span></h6>
                  </div>
                  <div class="col-sm-6 py-2">
                    <h6>Fecha de unión: <span class="text-secondary">{{perfil.usuario.date_joined}}</span></h6>
                  </div>
                  <div class="col-sm-6 py-2">
                    <h6>Mas sobre mi: <span class="text-secondary"><a  href="http://{{perfil.url}}">{{perfil.url}}</a></span></h6>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Qualification Start -->
        <div class="container-fluid py-5" id="qualification">
          <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
              <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Experiencia</h1>
              <h1 class="position-absolute text-uppercase tm-text-primary">Experiencia y educación</h1>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h3 class="mb-4">Educación</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>

                    <p>{{perfil.Educacion}}</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <h3 class="mb-4">Experiencia</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">

                  <div class="position-relative mb-4">
                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                    <p>{{perfil.Experiencia}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Qualification End -->

      </div>
    </div>
    <hr>
  </div>

  <!-- PUBLICACIONES  -->

  <div class="container-fluid tm-container-content tm-mt-60">
    <div>
      <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Publicaciones</h1>
        <h1 class="position-absolute text-uppercase tm-text-primary">Publicaciones</h1>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <form action="" class="tm-text-primary">
          Cantidad de publicaciones: <input type="text" readonly="readonly" value="{{cant_post}}" class="tm-input-paging tm-text-primary">
        </form>
      </div>
    </div>
    <div>
      <div>

        <div style="margin: 3%" class="row">
          {% for post in postsUser %}
          <div class="col-md-4">
            <figure id="fotos_publi"  style="height: 300px;" class="effect-ming tm-video-item">
              {% for img in post.Multimedia_Img.all %}
              <img style="height: auto; width: auto; vertical-align: middle;" src="{{img.imagen.url}}" alt=""
                class="img-fluid">
              {% endfor %}
              <a href="{% url 'publicacion:comments' post.pk %}">
                <figcaption class="d-flex align-items-center justify-content-center">
                  <h2>Ver</h2>
                </figcaption>
              </a>
            </figure>
          </div>

          <!--  <div class="d-flex justify-content-between tm-text-gray">
            
          </div> -->
          {% endfor %}
        </div>

      </div> <!-- row -->

    </div> <!-- container-fluid, tm-container-content -->

  </div>

</div>
{% endblock content %}


{% block right_sidebar %}
{% endblock right_sidebar %}



{% block footer %}
{% endblock footer %}

{% block javascript %}
<script>
  var numDiv = document.getElementsByTagName("fotos_publi").length;
  console.log(numDiv)

</script>
{% endblock javascript %}